# ROS2
install/
build/
log/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Machine Learning
!runs/
!src/agribot_perception/models/placeholder.txt

# Dataset Caches
*.cache
dataset/

# Datasets & Photos
datasets/
cropweed_dataset/
cropweed_yolo_dataset/
data_downloads/
# runs/
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

# Allow tracked results and documentation images
!results/
!results/**/*.jpg
!results/**/*.jpeg
!results/**/*.png
!results/**/*.gif

# System
.DS_Store
.vscode/
yolov8n.pt